<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated matchs -->
      <package
            uri="http://www.steph.org/foot/matchs"
            class="fr.steph.foot.matchs.MatchsPackage"
            genModel="model/matchs.genmodel"/>
   </extension>

</plugin>
