<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.steph.foot.matchs.design.Activator"
               id="fr.steph.foot.matchs.design"
	       name="matchs">
    </component>
  </extension>
</plugin>
